/* styles.css */

body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
}

h1 {
      color: #31c90b;
}

.question-container {
      margin-bottom: 20px;
}

.game-board {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(3, 100px);
      gap: 10px;
      margin-bottom: 20px;
}

.hole {
      width: 100px;
      height: 100px;
      display: flex;
      background-color: #0e57df;
      border-radius: 100%;
      position: relative;
      overflow: hidden;
}

.rabbit {
      width: 80px;
      height: 80px;
      background-color: #43ef1c; 
      /* background-image: url('/Topos/Images/Rabbit.png') ; */
      background-size: 10%;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      position: absolute;
      bottom: -100px;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      cursor: pointer;   
      color: #0a0000; /* Cambia el color del texto según necesites */
      text-shadow: 1px 1px 2px rgb(248, 247, 247); /* Opcional: mejora la legibilidad del texto */
}

.rabbit.up {
      bottom: 10px;
}

.scoreboard {
      font-size: 24px;
      color: #f60606;
}

